body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #111829, #ddc4f5);
  min-height: 100vh;
  color: white;
}


header {
  background: #21252988;
  color: white;
  padding: 80px 20px;
}

section {
  padding: 40px 20px;
}

a {
  display: inline-block;
  margin-top: 10px;
  color: #000000;
  text-decoration: none;
}

.form-control:focus {
  border-color: #000 !important;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.25) !important;
}
.btn-black-premium {
  padding: 11px 27px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: #000;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn-black-premium:hover {
  transform: translateY(-3px);
  background:#111;
}
